<div class="container-fluid well">
	<% for count in 1..3 do %>
	<div class="col-lg-4">
		<%= image_tag "/assets/screenshots/ss#{count}_asset#{asset.id}.png", :width => '248', :height => '248', :alt => "スクリーンショット未登録" %>
	</div>
	<% end %>
</div>
