<%= form_tag 'ajax_post', :remote => true, :method => 'get' do %>
<%= select_tag :license, options_for_select({"CC BY"=>1, "CC BY-SA"=>2, "CC BY-ND"=>3, "CC BY-NC"=>4, "CC BY-NC-SA"=>5, "CC BY-NC-ND"=>6}), :onchange => "$(this).parent('form').submit();" %>
<% end %>

</br>
<div id="cc">
	ライセンスの詳細
</div>

<%= link_to 'テスト', 'ajax_post', :remote => true%>
