<h1>素材をさがす</h1>

<table>
  <thead>
    <tr>
      <th>素材名</th>
      <th>作者</th>
    </tr>
  </thead>
  <tbody>
    <% @game_assets.each do |game_asset| %>
      <tr>
        <td><%= game_asset.name %></td>
        <td><%= game_asset.user_id %></td>
        <td><%= link_to '見る', game_asset %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '素材を登録', new_game_asset_path %>
