<div class="col-lg-12">
	<div class="page-header">
	  <h1>カート</h1>
	</div>
	<% sum = 0 %>
	<%= render :partial => 'asset_table', :locals => {:assets => @game_assets, :parent => 'cart'} %>
	<%= button_to '全て削除', 'cart', :method => 'delete', :class => "btn btn-warning" %>
	<div class="pull-right">
		<p>合計金額：<%= sum %>円</p></br>
			<%= button_to '購入処理へ', 'cart', :class => "btn btn-danger" %>
	</div>
</div>
