<div class="page-header">
	<h1>パスワード再設定</h1>
</div>
<%= form_tag('/forgot_password') do %>
	<p>パスワード再設定用リンクをお送りします。メールアドレスを入力して下さい。</p>
	<input type="text" name="email" /><br />
	<input type="submit" value="送信">
<% end %>