<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert" role="alert">
      入力内容に <%= pluralize(@user.errors.count,"") %>つの誤りがあります。
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>