<% case license %>
<% when 1 then %>
	<div class="well">
		<p>CC BY</p>
		<div class="label label-default">クレジット表記必須</div>
		<div class="label label-info">商用可</div>
		<div class="label label-info">改変可</div></br>
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
	</div></br></br>
<% when 2 then %>
	<div class="well">
		<p>CC BY-SA</p>
		<div class="label label-default">クレジット表記必須</div>
		<div class="label label-info">商用可</div>
		<div class="label label-warning">改変可　二次的著作物にも同じライセンスを適用</div></br>
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
	</div></br></br>
<% when 3 then %>
	<div class="well">
		<p>CC BY-ND</p>
		<div class="label label-default">クレジット表記必須</div>
		<div class="label label-info">商用可</div>
		<div class="label label-danger">改変不可</div></br>
		<a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a>
	</div></br></br>
<% when 4 then %>
	<div class="well">
		<p>CC BY-NC</p>
		<div class="label label-default">クレジット表記必須</div>
		<div class="label label-danger">商用不可</div>
		<div class="label label-info">改変可</div></br>
		<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
	</div></br></br>
<% when 5 then %>
	<div class="well">
		<p>CC BY-NC-SA</p>
		<div class="label label-default">クレジット表記必須</div>
		<div class="label label-danger">商用不可</div>
		<div class="label label-warning">改変不可　二次的著作物にも同じライセンスを適用</div></br>
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
	</div></br></br>
<% when 6 then %>
	<div class="well">
		<p>CC BY-NC-ND</p>
		<div class="label label-default">クレジット表記必須</div>
		<div class="label label-danger">商用不可</div>
		<div class="label label-danger">改変不可</div></br>
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
	</div></br>
<% end %>
